---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="flex justify-center items-center py-52">
		<div class="min-w-xl flex flex-col justify-center items-center gap-24">
			<div class="w-full text-2xl md:text-4xl flex justify-between">
				<span>TRAINING</span>
				<span>INTERVIEWS</span>
				<span>JOBS</span>
			</div>

			<a
				href="https://play.google.com/store/apps/details?id=com.skill.my&pcampaignid=web_share"
				target="_blank"
				class="bg-black rounded-xl px-4 py-2 flex justify-center items-center gap-2 w-fit text-white border-2 hover:border-violet-500 transition duration-300"
			>
				<svg
					width="44"
					height="47"
					viewBox="0 0 24 27"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M9.80482 11.4617L0.0895996 22.0059C0.0905121 22.0078 0.090512 22.0106 0.0914244 22.0125C0.389807 23.1574 1.41179 24 2.62539 24C3.11083 24 3.56616 23.8656 3.95671 23.6305L3.98773 23.6118L14.9229 17.1593L9.80482 11.4617Z"
						fill="#EA4335"></path>
					<path
						d="M19.6331 9.66619L19.624 9.65966L14.9028 6.86123L9.58392 11.7013L14.9219 17.1582L19.6176 14.3878C20.4406 13.9324 21 13.045 21 12.0223C21 11.0052 20.4489 10.1225 19.6331 9.66619Z"
						fill="#FBBC04"></path>
					<path
						d="M0.0894234 1.99331C0.0310244 2.21353 0 2.44494 0 2.68382V21.3163C0 21.5552 0.0310245 21.7866 0.0903359 22.0059L10.1386 11.7313L0.0894234 1.99331Z"
						fill="#4285F4"></path>
					<path
						d="M9.87657 11.9999L14.9044 6.85935L3.98192 0.383507C3.58499 0.139962 3.12145 -4.76837e-06 2.62597 -4.76837e-06C1.41237 -4.76837e-06 0.388558 0.844468 0.0901759 1.99034C0.0901759 1.99127 0.0892639 1.9922 0.0892639 1.99314L9.87657 11.9999Z"
						fill="#34A853"></path>
				</svg>
				<p class="text-3xl">Get it on Google Play</p>
			</a>
		</div>
	</section>
</Layout>
